NEXT_PUBLIC_BASE_URL=https://techxdns.duckdns.org

DB_HOST=localhost
DB_PORT=5432
DB_NAME=ai_archives
DB_USER=ai_archives
DB_PASSWORD=CHANGE_ME

AWS_REGION=us-east-1
AWS_BUCKET_NAME=techx-s3-chanse-static-site
AWS_ACCESS_KEY_ID=CHANGE_ME
AWS_SECRET_ACCESS_KEY=CHANGE_ME